**
!cloudbuild.media-gateway.yaml
!media-gateway/
!media-gateway/Dockerfile
!media-gateway/package.json
!media-gateway/package-lock.json
!media-gateway/src/
!media-gateway/src/**
!packages/
!packages/caption-core/
!packages/caption-core/**
